parameters:
	ignoreErrors:
		-
			message: "#^Constant ENVIRONMENT not found\\.$#"
			count: 1
			path: ../application/config/database.php

		-
			message: "#^Constant APPPATH not found\\.$#"
			count: 1
			path: ../application/config/migration.php

		-
			message: "#^Access to an undefined property Guestbook\\:\\:\\$form_validation\\.$#"
			count: 5
			path: ../application/controllers/Guestbook.php

		-
			message: "#^Access to an undefined property Guestbook\\:\\:\\$guestbook_messages\\.$#"
			count: 1
			path: ../application/controllers/Guestbook.php

		-
			message: "#^Access to an undefined property CiActiveRecordGuestbookRepository\\:\\:\\$db\\.$#"
			count: 3
			path: ../application/models/CiActiveRecordGuestbookRepository.php

		-
			message: "#^Access to an undefined property CiActiveRecordGuestbookRepository\\:\\:\\$input\\.$#"
			count: 3
			path: ../application/models/CiActiveRecordGuestbookRepository.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_404.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_404.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_db.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_db.php

		-
			message: "#^Variable \\$exception might not be defined\\.$#"
			count: 4
			path: ../application/views/errors/cli/error_exception.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_exception.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_general.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_general.php

		-
			message: "#^Variable \\$filepath might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$line might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$severity might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/cli/error_php.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_404.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_404.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_db.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_db.php

		-
			message: "#^Variable \\$exception might not be defined\\.$#"
			count: 4
			path: ../application/views/errors/html/error_exception.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_exception.php

		-
			message: "#^Variable \\$heading might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_general.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_general.php

		-
			message: "#^Variable \\$filepath might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_php.php

		-
			message: "#^Variable \\$line might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_php.php

		-
			message: "#^Variable \\$message might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_php.php

		-
			message: "#^Variable \\$severity might not be defined\\.$#"
			count: 1
			path: ../application/views/errors/html/error_php.php

		-
			message: "#^Variable \\$messages might not be defined\\.$#"
			count: 1
			path: ../application/views/guestbook_components/timeline.php

		-
			message: "#^Variable \\$messages might not be defined\\.$#"
			count: 1
			path: ../application/views/guestbook_homepage.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 5
			path: ../application/views/guestbook_homepage.php
